<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello! Please log in to your admin account and review the new user!
    </p>

    <ul>
      <% @user.attributes.each do |attribute| %>
      <li><%= attribute %></li>
      <% end %>
    </ul>

  </body>
</html>
